<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receiver</title>
    <style>
        img {
            max-width: 500px;  
            height: auto;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="rec-page">
    <div class="rec-container">
    <h1>Receiver</h1>
    <p>Current Channel Key: <strong>{{ channel_key }}</strong></p>  <!-- Display channel key -->
    {% if decrypted_image_paths %}
        <h2>Decrypted Images</h2>
        {% for path in decrypted_image_paths %}
            <div>
                <img src="{{ url_for('static', filename=path) }}" alt="Decrypted Image">
                <p>
                    <div class="role-card">
                        <form method="POST">
                            <a href="{{ url_for('static', filename=path) }}" download>Download Decrypted Image {{ loop.index }}</a>
                        </form>
                    </div>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>Waiting for the sender to upload and decrypt images...</p>
    {% endif %}
</body>
</html>
